@model ProfileVM

@{
    Layout = "_LayoutClient";
    ViewBag.Main = "Penyedia Jasa";
    ViewBag.Category = "Dashboard";
    ViewBag.Title = "Profile";
}

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr bg-primary-700 bg-success-gradient" role="heading">
                <h2>Data Perusahaan</h2>
            </div>
            <div class="panel-container show">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="theID" name="theID" value="{{$data->UserID}}">
                    <div class="panel-content">
                        <div class="form-group">
                            <label for="">Nama Perusahaan</label>
                            <input type="text" class="form-control" value="@Model.Client.ClientName" readonly required autocomplete="off" >
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" value="@Model.Client.ClientPkm!.UserEmail" readonly required autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="">Jenis Usaha</label>
                            @*<select asp-for="Client.JenisUsahaID" class="form-control" required autocomplete="off" disabled>
                                <option value="@Model.Client.JenisUsaha.JenisUsahaID">@Model.Client.JenisUsaha.NamaJenis</option>
                            </select>*@
                        </div>
                        <div class="form-group">
                            <label for="">Alamat</label>
                            <input asp-for="Client.ClientPkm!.Alamat" class="form-control" required autocomplete="off">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Kota / Kabupaten <span class="text-danger">*</span></label>
                                <select asp-for="KabupatenID" class="form-control" required autocomplete="off">
                                    <option value="@Model.KabupatenID">@Model.NamaKabupaten</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Kecamatan <span class="text-danger">*</span></label>
                                <select asp-for="KecamatanID" class="form-control" required autocomplete="off">
                                    <option value="@Model.KecamatanID">@Model.NamaKecamatan</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Kelurahan <span class="text-danger">*</span></label>
                                <select asp-for="Client.ClientPkm!.KelurahanID" class="form-control" required autocomplete="off">
                                    <option value="@Model.Client.ClientPkm!.KelurahanID">@Model.NamaKelurahan</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Telp <span class="text-danger">*</span></label>
                                <input class="form-control" asp-for="Client.ClientPkm!.Telp" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Fax</label>
                                <input asp-for="Client.ClientPkm!.Fax" class="form-control" autocomplete="off">
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Penanggung Jawab</label>
                                <input asp-for="Client.ClientPkm!.PenanggungJawab" class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">PIC</label>
                                <input asp-for="Client.ClientPkm!.PIC" class="form-control" autocomplete="off">
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">No HP PIC</label>
                                <input asp-for="Client.ClientPkm!.NoHpPIC" class="form-control" autocomplete="off">
                            </div>
                        </div>     
                        <div class="form-group">
                            <label for="">No Induk Berusaha</label>
                            <input type="text" value="@Model.Client.ClientPkm!.NIB" readonly class="form-control" autocomplete="off">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Latitude</label>
                                <input asp-for="Client.ClientPkm!.Latitude" class="form-control" placeholder="Masukan koordinat lintang" autocomplete="off">
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Longitude</label>
                                <input asp-for="Client.ClientPkm!.Longitude" class="form-control" placeholder="Masukan koordinat bujur" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-success" type="submit">Update Data</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
        @*<div class="col-md-6 col-xs-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr bg-primary-700 bg-success-gradient">
                    <h2>Dokumen Izin</h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="">
                            @foreach ($doc as $row)
                                <a href="{{ $row['url'] }}" data-toggle="lightbox" data-gallery="gal-izin">
                                    <img class="myimg" src="{{ $row['url'] }}" alt="image">
                                </a>
                            @endforeach
                        </div>
                    </div>
                </div>
            </div>
            <div id="panel-2" class="panel">
                <div class="panel-hdr bg-primary-700 bg-success-gradient">
                    <h2>Dokumen NIB</h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="">
                            @foreach ($nib as $row)
                                <a href="{{ $row['url'] }}" data-toggle="lightbox" data-gallery="gal-nib">
                                    <img class="myimg" src="{{ $row['url'] }}" alt="image">
                                </a>
                            @endforeach
                        </div>
                    </div>
                </div>
            </div>
            <div id="panel-2" class="panel">
                <div class="panel-hdr bg-primary-700 bg-warning-gradient">
                    <h2>Ganti Password</h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form action="/clients/password/change" id="changepass" method="post">
                            <input type="hidden" name="myID" id="myID" value="{{ $data->UserID }}">
                            <div class="form-group">
                                <label for="">Password Baru</label>
                                <input type="password" name="passwd" id="passwd" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="">Konfirmasi Password Baru</label>
                                <input type="password" name="passconfirm" id="passconfirm" class="form-control" required>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-danger">Ganti Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@
</div>

<div class="row" style="margin-top:30px;">
    <div class="col-xl-12">
        <div class="text-center">

        </div>
    </div>
</div>

